/* Couleur de fond */


body {
    background-color: white;
    margin: 0;
    padding: 0;
    


}


#p1 {

  position: absolute; 
  left: 0;
  font-size: 20px;
    font-family: 'Scheherazade', serif;

    
   
}

#p2 {
      position: absolute;  
  right:10%;
  font-size: 20px;
    font-family: 'Scheherazade', serif;
}


.img {
    position: absolute;
    top:  30px;
    left: 90%;

    width: 80px;
}


.img2 {
    position: absolute;
    top:  180px;
    left: 60%;

    width: 80px;
        width: 150px;
}
.img3 {
    position: absolute;
    top:  0;
    left: 10%;

    width: 80px;
        width: 150px;
}




    
.m1 {
    width: 100%; /* Épaisseur de la ligne */ 
    height: 70px; /* Hauteur de la ligne */ 
    background-color:#640610; /* Couleur de la ligne */
    
         padding: 40px;
        

    }
    
    
    
.m2 {

   
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color:#eaaa37;
  font-size: 20px;
           
         

    }
    
    
    
       
        table {
         width: 50%;
    margin: auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        }
  
    .ligne {
    width: 90%;  /* Longueur de la ligne */
;  /* Épaisseur */
    background-color: grey;  /* Couleur */
    margin-left: 0;  /* Aligner à gauche */
}




p {
    display: inline-block; /* Met les paragraphes sur la même ligne */
     gap: 20px; 
      padding-left: 15px; 
      }
      
      
      
.l1:link {
  text-decoration: none;
  color: green; /* Le lien est vert lorsqu'il est normal */
      position: absolute;
    top:47%;
    left: 65%;
    width: 80px;
    
   
}




.l2:link {
 text-decoration: none;
  color: green; /* Le lien est vert lorsqu'il est normal */
      position: absolute;
    top:57%;
    left: 65%;
    width: 90px;
}


.l3:link {
     text-decoration: none;
  color: green; /* Le lien est vert lorsqu'il est normal */
      position: absolute;
    top:67%;
    left: 65%;
    width: 90px;
}




.l4:link {
 text-decoration: none;
  color: green; /* Le lien est vert lorsqu'il est normal */
      position: absolute;
    top:77%;
    left: 65%;
    width: 90px;
}


.l5:link {
 text-decoration: none;
  color: green; /* Le lien est vert lorsqu'il est normal */
      position: absolute;
    top:87%;
    left: 65%;
    width: 90px;
}

.l6:link {
 text-decoration: none;
  color: green; /* Le lien est vert lorsqu'il est normal */
      position: absolute;
    top:97%;
    left: 65%;
    width: 90px;
}


.l7:link {
 text-decoration: none;
  color: green; /* Le lien est vert lorsqu'il est normal */
      position: absolute;
    top:107%;
    left: 65%;
    width: 90px;
}


.l8:link {
 text-decoration: none;
  color: green; /* Le lien est vert lorsqu'il est normal */
      position: absolute;
    top:117%;
    left: 65%;
    width: 90px;
}








.m4 {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin: 10px 0;
      font-family: 'Scheherazade', serif;
      color: black;
}




/* Style de la ligne séparatrice */
.ligne {
    border: none;
    height: 1px;
    background-color: #9C9998   ;
    margin: 10px 0;
}

